.container__equipo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.container__equipo .input__color{
    position: absolute;
    top: 1rem;
    right: 2rem;
    background-color: #8a8a8a;
    cursor: pointer;
}

.container__equipo .title{
    font-weight: 400;
    margin: 0 0 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 4px solid;
}

.container__colaboradores{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 75%;
    margin-bottom: 0.5rem;
    justify-content: center;
}
